{% extends "base.html.twig" %}

{% block title %}Ajouter un évenement{% endblock %}

 {% block body %}

    <div class="container my-5">

            <h1 class="display-4 text-center text-white bg-dark shadow-lg rounded col-7 mx-auto my-3"> 
               Ajouter un produit
          </h1>

            <div class="row justify-content-center my-5">

                     {{ form_start(form,  {'attr' : { 'class' : 'col-lg-5 col-md-5 mx-auto py-5'}} ) }}

                        {{ form_row(form.titre, {'attr' : { 'placeholder' : 'Saisir un titre', "maxlength" : false, "pattern" : false}, 'label' : "Nom de l'évenement" })}}
                        {{ form_row(form.description, { 'label' : "Description de l'évenement"}, {'attr' : { 'rows' : 12}})}}
                        {{ form_row(form.date_debut, { 'label' : "Date et heure du début"})}}
                        {{ form_row(form.date_fin, {'label' : "Date et heure de fin"})}}
                        {{ form_row(form.lieu, {'label' : "Lieu de l'évenement"})}}

                  
                       <button type="submit" class="btn btn-primary">Ajouter le produit</button>
     
                    {{ form_end(form) }}    

            </div>


    </div>


{% endblock %} 